<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
<body>
    <%-include('../partials/header')%>
    <main class="body-main">
        <div>
        <div class="main-container">
            <div class="second-container">
                <article class="article-selected">
                    <div class="article-image" >
                        <img src="/images/products/<%= producto.image %>" alt="Imagen">
                       
                    </div>
                    <div class="article-description">
                        <p class="description"><%= producto.description %> (Orígen <%= producto.country_id %>)</p>
                        <p class="price">$<%= producto.price %> (10% OFF SI ESTAS REGISTRADO)</p>
                        <p class="add-cart"><a href="#">Agregar al carrito</a></p>
                       
                    </div>
                    
                        <a href="/admin/editarProd/<%= producto.id %>">
                       <button type="submit" style="background-color: rgb(99, 153, 99); color: white; ">Editar Producto</button>
                       </a>
                        
                    
                    
                        <form action="/admin/<%= producto.id %>?_method=DELETE" method="post">
                           <button type="submit" style="background-color: rgb(99, 153, 99); color: white; ">Eliminar Producto</button>
                        </form>
                    
                </article>
            </div>
            
            
        </div>
        </div>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>