<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head')%>
<body>
    <%-include('./partials/header')%>

    <main class="body-main">
        <div class="new-arrivals"><h4>NOVEDADES</h4></div>
       
            
             

        <div class="novedades">
            <%for(let i = 0; i< productos.length; i++){ %>
                <% if( productos[i].condicion == "new"){ %>
           <article class="vino">
                <a href="/product/productDetail/<%= productos[i].id %>"><img src="/images/products/<%= productos[i].image %>" alt="Imagen"></a>
                <img class="new" src="/images/mainImages/new-icon-1497910_1280.webp" alt="">
                <p><%= productos[i].description %> (Orígen <%= productos[i].country_id %>)</p>
            </article>

            
            <% } %>
			<% } %>
        </div>
        

        <section class="products">
            <%for(let i = 0; i< productos.length; i++){ %>
                <% if( productos[i].condicion != "new"){ %>
    
            <article class="cuzqueña">
                <a href="/product/productDetail/<%= productos[i].id %>"><img src="/images/products/<%= productos[i].image %>" alt="Imagen"></a>
                <div class="bottom-article">
                 <p><%= productos[i].description %>(Orígen <%= productos[i].country_id %>)</p>
                 <img class="onsale" src="/images/onsale.jpg" alt="on sale">
               </div>
            </article>
            <% } %>
			<% } %>
        
            <!--<article class="cachaza">
                <a href="/product/productDetail"><img src="/images/products/cachaza.jpg" alt="cachaza"></a>
               <div class="bottom-article">
                 <p>Cachaza Velho Barreiro.(Orígen Brasil)</p>
                 <img class="onsale" src="/images/product/onsale.jpg" alt="on sale">
               </div>
            </article> 
        
        
            <article class="ddl">
                <a href="/product/productDetail"><img src="/images/products/DDL.jpg" alt="DDL"></a>
                <div class="bottom-article">
                 <p>Dulce de leche La Serenisima.(Orígen Argentina) </p>
                 <img class="onsale" src="/images/onsale.jpg" alt="on sale">
               </div>
            </article>
        
        
            <article class="harina">
                <a href="/product/productDetail"><img src="/images/products/harina.jpg" alt="harina"></a>
                <div class="bottom-article">
                 <p>Harina Pan.(Orígen Venezuela)</p>
                 <img class="onsale" src="/images/onsale.jpg" alt="on sale">
                </div>
            </article>    
        
        
            <article class="pisco">
                <a href="/product/productDetail"><img src="/images/products/pisco.jpg" alt="pisco"></a>
                <div class="bottom-article">
                 <p>Pisco Cuatro Gallos.(Orígen Perú)</p>
                 <img class="onsale" src="/images/onsale.jpg" alt="on sale">
                </div>
            </article> -->           
        </section>
    </main>
    <%-include('./partials/footer')%>
</body>
</html>
           