<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head')%>
<body>
    <%-include('./partials/header')%>

    <main class="body-main">
        <div class="new-arrivals"><h4>NOVEDADES</h4></div>
       
            
             <!--<% for (let i = 0; i < productos.length; i++ ) { %>
                <% if(productos[i].product == true){ %>
                    <img src="<%= productos[i].imagen %>">
                    <img  src="/images/new-icon-1497910_1280.webp" alt="" >
                    <h4><%= productos[i].nombre%></h4>
                    <p><%= productos[i].descripcion%></p>
                    <p><%= productos[i].precio%></p>
                    <br>
                <% } %>                
            <% } %>
        </div>
        <div class="productos"><h4>PRODUCTOS</h4></div>
        <div class="PRODUCTOS">
                <% for (let i = 0; i < productos.length; i++ ) { %>
                    <% if(productos[i].product == false){ %>
                        <img src="<%= productos[i].imagen %>">
                        <h4><%= productos[i].nombre%></h4>
                        <p><%= productos[i].descripcion%></p>
                        <p><%= productos[i].precio%></p>
                        <br>
                    <% } %>
                <% } %>
            
        </div>-->
        

        <div class="novedades">
            <%for(let i = 0; i< productos.length; i++){ %>
                <% if( productos[i].condition == "new"){ %>
           <article class="vino">
                <a href="/product/productDetail/<%= productos[i].id %>"><img src="/images/products/<%= productos[i].image %>" alt="vino"></a>
                <img class="new" src="/images/new-icon-1497910_1280.webp" alt="">
                <p><%= productos[i].description %> (Orígen <%= productos[i].origin %>)</p>
            </article>

            <!--</article>
            <article class="chocolate">
                <a href="/product/productDetail"><img src="/images/products/chocolate.jpg" alt="chocolate"></a>
                <img class="new" src="/images/new-icon-1497910_1280.webp" alt="">
                <p>Chocolate con maní Sublime. (Orígen Perú)</p>
            </article>
            <article class="cafe">
                <a href="/product/productDetail"new" src="/images/new-icon-1497910_1280.webp" alt="">
                <p>Café Ramó#"><img src="/images/products/cafe.webp" alt="cafe"></a>
                <img classn Valdez. (Orígen Colombia)</p>
            </article>
            <article class="yerba"><a href="/product/productDetail"><img src="/images/products/yerba.webp" alt="yerba"></a>
                <img class="new" src="/images/new-icon-1497910_1280.webp" alt="">
                <p>Yerba mate Canarias. 
                    (Orígen Uruguay)</p>
            </article> -->
            <% } %>
			<% } %>
        </div>
        

        <section class="products">
            <%for(let i = 0; i< productos.length; i++){ %>
                <% if( productos[i].condition != "new"){ %>
    
            <article class="cuzqueña">
                <a href="/product/productDetail/<%= productos[i].id %>"><img src="/images/products/<%= productos[i].image %>" alt="cuzqueña"></a>
                <div class="bottom-article">
                 <p><%= productos[i].description %>(Orígen <%= productos[i].origin %>)</p>
                 <img class="onsale" src="/images/onsale.jpg" alt="on sale">
               </div>
            </article>
            <% } %>
			<% } %>
        
            <!--<article class="cachaza">
                <a href="/product/productDetail"><img src="/images/products/cachaza.jpg" alt="cachaza"></a>
               <div class="bottom-article">
                 <p>Cachaza Velho Barreiro.(Orígen Brasil)</p>
                 <img class="onsale" src="/images/product/onsale.jpg" alt="on sale">
               </div>
            </article> 
        
        
            <article class="ddl">
                <a href="/product/productDetail"><img src="/images/products/DDL.jpg" alt="DDL"></a>
                <div class="bottom-article">
                 <p>Dulce de leche La Serenisima.(Orígen Argentina) </p>
                 <img class="onsale" src="/images/onsale.jpg" alt="on sale">
               </div>
            </article>
        
        
            <article class="harina">
                <a href="/product/productDetail"><img src="/images/products/harina.jpg" alt="harina"></a>
                <div class="bottom-article">
                 <p>Harina Pan.(Orígen Venezuela)</p>
                 <img class="onsale" src="/images/onsale.jpg" alt="on sale">
                </div>
            </article>    
        
        
            <article class="pisco">
                <a href="/product/productDetail"><img src="/images/products/pisco.jpg" alt="pisco"></a>
                <div class="bottom-article">
                 <p>Pisco Cuatro Gallos.(Orígen Perú)</p>
                 <img class="onsale" src="/images/onsale.jpg" alt="on sale">
                </div>
            </article> -->           
        </section>
    </main>
    <%-include('./partials/footer')%>
</body>
</html>
           