<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
    <body>
        <%-include('../partials/header')%>
        <main class="body-main">
            <section class="information">
                <div class="main-information">
                <h3 class="h3-login">
                    EDITAR PRODUCTOS
                </h3>
                <form action="/admin/editarProd/<%=producto.id%>?_method=PUT"
                  method="post" enctype="multipart/form-data">
                    <div>
                    <label for="name">Nombre del producto</label>
                      <input type="text" name="name" id="name" value="<%=producto.name%>">
                    </div>
                    <div>  
                    <label for="description">Descripcion del producto</label>  
                      <textarea name="description" id="description"><%=producto.description %> </textarea>
                    </div>
                    <div>
                    <label for="categorie">Categoria del producto</label>  
                      <input type="text" name="categorie" id="categorie"  value="<%=producto.categorie %>">
                    </div>
                    <div> 
                    <label for="price">Precio del producto</label>
                      <input type="text" name="price" id="price"  value="<%=producto.price %>">
                    </div>
                    <div>  
                    <label for="country">Origen del producto</label>  
                      <input type="text" name="country" id="country"  value="<%=producto.country_id %>">
                    </div>
                    <div>  
                    <label for="discount">Descuento del producto</label>  
                      <input type="text" name="discount" id="discount"  value="<%=producto.discount %>">
                    </div>
                    <div>  
                      <label for="condicion">Condición del producto</label>  
                        <input type="text" name="condicion" id="condicion"  value="<%=producto.condicion %>">
                      </div>
                    
                    <div> 
                    <label for="image">Imagen del producto</label>  
                      <input type="file" name="image" id="image"  value="<%=producto.image %>"/>
                    </div>
                    
                    <div>
                      <button type="submit" class="buttons" style="background-color: rgb(99, 153, 99); color: white; ">Guardar</button>
  
                  </div>
                
                  <!--div>
                    <form action="">
                    <button type="submit" class="buttons">Eliminar producto</button>
                    </form>  
                  </div-->
                </form>
                

                
                </div>
            </section>
            
        </main>
        <%-include('../partials/footer')%>
    </body>
</html