<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
<body>
    <%-include('../partials/header')%>

        <main class="body-main">
            <section class="information">
                <div class="main-information">
                    
                    
                    <form action="/user/editUser/<%= user.id%>?_method=PUT" method="post" enctype="multipart/form-data">
                       <h3 class="h3-login">
                           Edita tu perfil
                       </h3>
                       <div>
                        <label for="first_name">Nombre:</label>
                        <input type="text" name="first_name" value="<%= user.first_name %>">
                        <% if (locals.validaciones && validaciones.first_name) { %>
                        <p style="color:red">
                            <%= validaciones.first_name.msg %>
                        </p>
                        <% } %>
                        </div>
                        <div>
                            <label for="last_name">Apellido:</label>
                            <input type="text" name="last_name" value="<%= user.last_name %>">
                            <% if (locals.validaciones && validaciones.last_name) { %>
                                <p style="color:red">
                                    <%= validaciones.last_name.msg %>
                                </p>
                                <% } %>
                            </div>
                       
                        <div>
                        <label for="email">Email:</label>
                        <input type="email" name="email" value="<%= user.email %>">
                        <% if (locals.validaciones && validaciones.email) { %>
                            <p style="color:red">
                                <%= validaciones.email.msg %>
                            </p>
                            <% } %>
                        </div>
                        <div>
                            <label for="password">Contraseña</label>
                            <input type="text" name="password" 
                            <% if (locals.validaciones && validaciones.password) { %>
                                <p style="color:red">
                                    <%= validaciones.password.msg %>
                                </p>
                                <% } %>
                        </div>
                        <div>
                            <label for="age">Edad</label>
                            <input type="text" name="age" value="<%= user.age %>">
                        </div>
                        <div>
                            <label for="country">Nacionalidad</label>
                            <input type="text" name="country"  value="<%= user.country %>">
                        </div>
                        
                        <div> 
                            <label for="userImage">Foto de perfil</label>  
                              <input type="file" name="userImage" id="image">
                        </div>
                       
                       
                        
                       
                       
                        <div>
                            <button type="submit" class="buttons" style="background-color: rgb(99, 153, 99); color: white; ">Enviar</button>
    
                        </div>
                        
    
                     
                    </form>
                    </div>
                </div>
            </section>
        </main>
        <%-include('../partials/footer')%>
   </body>
   </html>
              
    