<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
<body>
    <%-include('../partials/header')%>
    <main class="body-main">
        <section class="information">
            <div class="main-information">
                <div>
                    <img src="/images/products/default-image.png" alt="">
                    <p>Hola <%= usuario.first_name %> !!</p>
                    <a href="/">
                        <button type="submit" style="background-color: rgb(99, 153, 99); color: white;" ;>Ir a la Pagina Pincipal</button>
                    </a>
                     <a href="./editUser/<%= usuario.id %>">
                         <button type="submit" style="background-color: rgb(99, 153, 99); color: white; ">Editar perfil</button>
                     </a>
                     <form action="" method="post">
                         <button type="submit" style="background-color: rgb(99, 153, 99); color: white; ">Eliminar usuario</button>
                     </form>
                </div>
            </div>
        </section>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>